* {
  font-size: 62.5%;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
  width: 100vw;
  height: 100vh;
  margin: 0;
}

.background{
  width: 100%;
  height: 100%;
  background-color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board{
  height: 50%;
  width: 50%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  box-sizing: border-box;
  border: 2px solid black;
}

.button{
  cursor: pointer;
  color: #2f2f2f;
  font-size: 80px;
  padding: 0;
  border: 2px solid black;
}